<?xml version="1.0"?>
<div class="container-fluid">
  <div class="row">

	<pre ng-style="style2" style="background-color:#1c87c9;width:1250px;">{{"username: " + uporabnik.uporabnik + publicReadOnly}}</pre>		
    <div class="col-md-6" ng-style="style1" style="height:850px;width:540px;background-color:#1c87c9;">
      <!--Sidebar content-->
<tr>
<td>	id:<input type="text" style="width:100px" ng-disabled="true" name="userId" ng-model="doku.id"></td>
<td>&nbsp;&nbsp;	doku:<input type="text" ng-disabled="disabledDoku" name="dokuDoku" style="width:100px" ng-model="PR0[0].DOKU0.DOKU"></td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td><button ng-click="postData3(doku, 0, uporabnik)" ng-disabled="disabledDokuZap" ng-show="disabledDokuZapShow" ng-disabled="disabledDokuZap"ng-init="count=0">{{zapisi}}</button></td>
</tr>
<table>
<tr><td><datepicker><input ng-model="PR0[0].DATN" type="text" ng-disabled="true"/></datepicker></td>
<td><datepicker><input ng-model="PR0[0].DATP" type="text" ng-disabled="true"/></datepicker></td>
<td><datepicker><input ng-model="PR0[0].DATK" ng-disabled="disabledDoku2" type="text"/></datepicker></td>
</tr>
</table>

	<p>Naziv:<input type="text" style="width:500px;" ng-disabled="true" name="dokuNaziv" ng-model="PR0[0].IME"></p>
	<p><input type="text" style="width:50px;" ng-disabled="true" name="doku.partn" ng-model="PR0[0].PARTN">
	<input type="text" style="width:130px;" ng-disabled="true" name="doku.partn" ng-model="PR0[0].PA[0].NASLOV1">
	<input type="text" style="width:50px;" ng-disabled="true" name="doku.partn" ng-model="PR0[0].PA[0].NASLOV1ST">
	<input type="text" style="width:130px;" ng-disabled="true" name="doku.partn" ng-model="PR0[0].PA[0].KRAJ1">
	<input type="text" style="width:50px;" ng-disabled="true" name="doku.partn" ng-model="PR0[0].PA[0].KRAJ1ST">
	<input type="text" style="width:80px;" ng-disabled="true" name="doku.partn" ng-model="PR0[0].PA[0].DRZAVA1"></p>
<!--	Placilo:<input type="text" name="doku.placilo" ng-model="doku.placilo">	-->
<!--	Placilo:<input type="number" ng-disabled="true" min="0.0000" max="100000.0000" step="0.0001" style="width:200px;" name="dokuZnesek" ng-model="doku.placilo" ng-value="doku.placilo"></p>	-->
<p>	Št.N.:<input type="text" ng-disabled="disabledDoku2" style="width:70px;" ng-model="PR0[0].NARO">
PLAČILO:<input type="text" ng-disabled="true" style="width:200px" ng-model="(PR0[0].DGMPV)" mask-currency="'€'" config="{group:'.',decimal:',',indentation:' ', decimalSize:2}" />
{{PR0[0].DGMPV}}</p>

 
    <table border="1">
	<thead>
          <tr ng-style="style3" style="background-color:#50c0f4;" height="40px">	
		<th align="left" ng-disabled="disabledDoku2" style="width:300px;font-size:14px;">TEKST</th>
		<th align="left" ng-disabled="disabledDoku2" style="width:40px;font-size:14px;">CENA</th>
		<th align="left" ng-disabled="disabledDoku2" style="width:25px;font-size:12px;">KOLIČINA</th>
		<th align="left" ng-disabled="disabledDoku2" style="width:25px;font-size:12px;">DDV</th>
		<th align="left" ng-disabled="disabledDoku2" style="width:40px;font-size:12px;"><div>CENA</div><div>(DDV)</div></th>
		<th align="left" ng-disabled="disabledDoku2" style="width:70px;font-size:14px;">ZNESEK</th>
		<th align="left" ng-disabled="disabledDoku2" style="width:10px;font-size:12px;"></th>
		<th align="left" ng-disabled="disabledDoku2" style="width:10px;font-size:14px;">
			<input type="button" class="btn btn-primary btn-xs" ng-disabled="disabledDoku2" ng-style="style4" value="+" ng-click="addData(pos)" />
		</th>
	  </tr>
	</thead>
        <tbody ng-repeat="pr in PR0[0].PR1 | filter:$ctrl.query | orderBy:$ctrl.orderProp track by $index">
          <tr ng-style="style3" style="background-color:#50c0f4;" height="40px">
            <td  align="left">{{pr.TEKST}}</td>
            <td  align="right">{{pr.NCENA}}</td>
            <td  align="right">{{pr.KOLICINA}}</td>
            <td  align="right">{{pr.PD}}</td>
            <td  align="right">{{pr.MPC}}</td>
            <td  align="right">{{pr.ZNESEK}}</td>
	    <td><input type="button" class="btn btn-primary btn-xs" ng-disabled="disabledDoku2" ng-style="style4" value="E" ng-click="GetDetailsPR($index)" /></td>
	   <td><input type="button" class="btn btn-primary btn-xs" ng-disabled="disabledDoku2" ng-style="style4" value="X" ng-click="DeleteDetails($index)" /></td></tr>
	</tbody>
     </table>

	</br><p>tekst:<input type="text" name="dokuText" ng-disabled="disabledDoku2" style="width:400px;" ng-model="PR0[0].PR1[PR1Index].TEKST">
EM:<input type="text" ng-disabled="true" ng-disabled="disabledDoku2" style="width:50px;" name="dokuEM" ng-model="PR0[0].PR1[PR1Index].EM" ng-value="PR0[0].PR1[PR1Index].EM"></p>
	<p>cena:<input type="number" min="0.0000" max="100000.0000" step="0.0001" ng-disabled="disabledDoku2" style="width:120px;" name="dokuNcena" ng-model="PR0[0].PR1[PR1Index].NCENA" ng-change="updatePrice()">
<!--	ng-value="PR0[0].PR1[PR1Index].MPC/(1+PR0[0].PR1[PR1Index].PD/100)" ng-change="updatePrice()">	-->
<!--<p>cena:<input type="text" style="width:150px" name="dokuNcena" ng-model="PR0[0].PR1[PR1Index].NCENA" mask-currency="'€ '" config="{group:'.',decimal:',',indentation:' ', decimalSize:4}" ng-change="updatePrice()"/> </p>-->

<label style="font-size:12px;">količina:</label><input type="number" ng-disabled="disabledDoku2" style="width:90px;" name="dokuKolicina" ng-model="PR0[0].PR1[PR1Index].KOLICINA" ng-change="updatePrice()">
DDV:<select type="text" ng-disabled="disabledDoku2" style="width:70px;" name="dokuDDV" ng-model="PR0[0].PR1[PR1Index].PD" ng-change="updatePrice()">
	<option value="22">22</option>	<option value="9.5" >9.5</option> <option value="0" >0</option>
</select>
 <label ng-disabled="disabledDoku2" style="font-size:12px;">cena(DDV):</label><input type="number" min="0.0000" max="100000.0000" step="0.0001" ng-disabled="disabledDoku2" style="width:120px;" name="dokuMpc" ng-model="PR0[0].PR1[PR1Index].MPC"> </p> 

<p>znesek:<input type="text" ng-disabled="true" style="width:150px" ng-model="(PR0[0].PR1[PR1Index].ZNESEK)" mask-currency="'€'" config="{group:'.',decimal:',',indentation:' ', decimalSize:4}" />

znesek(DDV):<input type="text" ng-disabled="true" style="width:150px" ng-model="PR0[0].PR1[PR1Index].ZNESEKDDV" mask-currency="'€'" config="{group:'.',decimal:',',indentation:' ', decimalSize:4}" />

			<button ng-click="addData(pos)" class="btn btn-primary btn-xs" ng-disabled="disabledDoku2" ng-style="style4" ng-init="count=0">nova pos.</button></p>

<div style="background-color:#5cd7e9;">
<div>-----------------------------------------------------------------------------------------------</div>
<div>------------PLAČILA--------------------------placila------------------------------------</div>
<div>-----------------------------------------------------------------------------------------------</div>
<p>neplačano:<input type="text" ng-disabled="true" style="width:200px" ng-model="(PR0[0].NEPL)" mask-currency="'€'" config="{group:'.',decimal:',',indentation:' ', decimalSize:2}" />{{PR0[0].NEPL}}</p>
<p>plačano:<input type="text" ng-disabled="true" style="width:200px" ng-model="(PR0[0].PL)" mask-currency="'€'" config="{group:'.',decimal:',',indentation:' ', decimalSize:2}" />{{PR0[0].PL}}</p>

   <table border="1">
	<thead>
          <tr ng-style="style3" style="background-color:#50c0f4;" height="40px">	
		<th align="left" ng-disabled="disabledDoku2" style="width:70px;font-size:14px;">ZNESEK</th>
		<th align="left" ng-disabled="disabledDoku2" style="width:150px;font-size:14px;">DATUM</th>
		<th align="left" ng-disabled="disabledDoku2" style="width:100px;font-size:14px;">TEKST</th>
		<th align="left" ng-disabled="disabledDoku2" style="width:10px;font-size:12px;"></th>
		<th align="left" ng-disabled="disabledDoku2" style="width:10px;font-size:14px;">
			<input type="button" class="btn btn-primary btn-xs" ng-disabled="disabledDoku2" ng-style="style4" value="+" ng-click="addDataPL(pos)" />
		</th>
	  </tr>
	</thead>
        <tbody ng-repeat="pl in PR0[0].PL1 | filter:$ctrl.query | orderBy:$ctrl.orderProp track by $index">
          <tr ng-style="style3" style="background-color:#50c0f4;" height="40px">
            <td  align="right">{{pl.ZNESEK}}</td>
            <td  align="right">{{pl.DATUM}}</td>
            <td  align="left">{{pl.TEKST}}</td>
	    <td><input type="button" class="btn btn-primary btn-xs" ng-disabled="disabledDoku2" ng-style="style4" value="E" ng-click="GetDetailsPL($index)" /></td>
	   <td><input type="button" class="btn btn-primary btn-xs" ng-disabled="disabledDoku2" ng-style="style4" value="X" ng-click="DeleteDetailsPL($index)" /></td></tr>
	</tbody>
     </table>

<table>
<tr><td>
znesek:<input type="number" min="0.0000" max="100000.0000" step="0.01" ng-disabled="disabledDoku2" style="width:120px;" name="dokuNcenaPL" ng-model="PR0[0].PL1[PL1Index].ZNESEK" ng-change="updatePlacila()"></td>
<td><datepicker>
<!--  <input ng-model="PR0[0].PL1[PL1Index].DATUM" type="text" ng-change="updateDatum()"/>  -->
<input ng-model="datumPL.d" ng-disabled="disabledDoku2" type="text" ng-change="updateDatum()"/>
</datepicker></td></tr>
<!--	<tr><td colspan="2" >tekst:<input type="text" name="dokuText" style="width:300px;" ng-model="PR0[0].PL[PL1Index].TEKST">  
</td></tr>	-->
<tr><td colspan="2" >tekst:<input type="text" name="dokuText" ng-disabled="disabledDoku2" style="width:520px;" ng-model="datumPL.d">  
</td></tr>
</table>

	</div>
<div>-----------------------------------------------------------------------------------------------</div>
<div>------------PRENOS--------------------------prenos------------------------------------</div>
<div>-----------------------------------------------------------------------------------------------</div>

<td><button ng-click="postData3(doku, 1, uporabnik)" ng-show="disabledDokuPrepisiShow" ng-disabled="disabledDokuPrepisi" ng-init="count=0">{{zapisiPredracun}}</button></td>

			</br></br></br></br>
			<p><button ng-click="sendDataDel(uporabnik)" ng-show="disabledDokuDelShow" ng-disabled="disabledDokuDel" ng-init="count=0">{{"zbrisi račun"}}</button></p>




     </div>

    <div class="col-md-6">
      <p ng-style="style1" style="background-color:#1c87c9;">
        Search:
        <input ng-model="$ctrl.query" style="width:150px;"/>
        Sort by:
        <!-- <select ng-model="$ctrl.orderProp " style="width:150px"><option value="DOKU">doku</option><option value="IME">ime</option><option value="PLACILO">placilo</option></select>  -->
		  <select ng-init="$ctrl.orderProp='ID'" ng-model="$ctrl.orderProp " style="width:150px"><option value="ID">id</option><option value="NAZIV">naziv</option><option value="NASLOV1">naslov1</option><option value="KONT_OS">kont_os</option><option value="NASLOV1">naslov1</option></select> 
      </p>

      <!--Body content-->
		<!--	<input type="text" ng-model="leto1"/>	-->
		<pre ng-style="style1" style="background-color:#1c87c9;">{{" (" + racuni.length + ") " + "LETO1:" + $ctrl.l1 + "  MESEC1:" + $ctrl.m1 + "     -    " + "  LETO2:" +$ctrl.l2+ "  MESEC2:" + $ctrl.m2}}</pre>
 
      <table border="1">
        <tbody ng-repeat="partner in partnerji | filter:$ctrl.query | orderBy:$ctrl.orderProp">
          <tr ng-style="style3" style="background-color:#50c0f4;" height="40px">
		<td><input type="button" class="btn btn-primary btn-xs" value="<-" ng-disabled="disabledDoku2" ng-style="style4" ng-click="GetDetailsPA(partner)" /></td>
            <td  align="right" style="width:100px;">{{partner.ID}}</td>
            <td  align="right" style="width:100px;">{{partner.NAZIV}}</td>
            <td  align="right" style="width:100px;">{{partner.KRAJ1}}</td>
            <td  align="right" style="width:100px;">{{partner.KRAJ2}}</td>
            <td  align="right" style="width:100px;">{{partner.KONT_OS}}</td>
            <td  align="right" style="width:100px;">{{partner.DDAVCNA}}</td>
            <td  align="right" style="width:100px;">{{partner.DDVVST}}</td>
            <td  align="right" style="width:100px;">{{partner.TELEFON1}}</td>
            <td  align="right" style="width:100px;">{{partner.TELEFON2}}</td>
            <td  align="right" style="width:100px;">{{partner.OPOMBA1}}</td>

        </tbody>

      </table>
    </div>
  </div>
</div>
